#*******************************************************************************
#.gitignore
#*******************************************************************************

#Purpose:
#The git program is informed here to ignore the following files while performing
#its distributed revision control and source code management.
#Author:
#Matthew Bonnema


#*******************************************************************************
#List of files that git will ignore
#*******************************************************************************
#-------------------------------------------------------------------------------
#The input and output files stored in sub-directories of
#-------------------------------------------------------------------------------
DSWx/examples/upload/
DSWx/examples/downloads/
DSWx/examples/prototype/
DSWx/dev/downloads/
DSWx/dev/prototype/
DSWx/examples/*.geojson
DSWx/examples/*.csv
DSWx/dev/*.geojson
DSWx/dev/*.csv
DSWx/dev/*.tif

